.techItem {
  background: rgba(36, 41, 47, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(36, 41, 47, 0.22);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;
  width: calc(20% - 10px);
  margin-top: 2%;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
  filter: blur(5px);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.techItem img {
  width: 150px;
}

.techItem p {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.techItem:nth-child(3),
.techItem:nth-child(7) {
  transition-delay: 0ms;
}

.techItem:nth-child(3),
.techItem:nth-child(7) {
  transition-delay: 200ms;
}
.techItem:nth-child(2),
.techItem:nth-child(6) {
  transition-delay: 400ms;
}
.techItem:nth-child(1),
.techItem:nth-child(5) {
  transition-delay: 600ms;
}

/* .techItem {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
} */
